<div class="container-fluid">
  <div class="movie-heading">
    <h1>{{ movieDetails.title }}</h1>
  </div>
  <hr style="margin-top: -7px;">
  <h2 mat-dialog-title>Watch Trailer</h2>
  <div mat-dialog-content>
    <iframe #youtubeVideo width="1366" class="w-100" height="230" title="movieDetails.title" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <hr style="margin-top: -7px;">
    <div class="row mt-3">

      <div class="col-lg-6 col-md-6 col-sm-12">

        <div class="movie-link mt-4">
          <div class="movie-watch">
            <a [routerLink]="['/auth/login']">
              <h6> <i class='bx bx-download'></i> <span> Play Video</span> </h6>
            </a>
          </div>
        </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">

        <div class="movie-link mt-4">
          <div class="movie-watch">
            <a [routerLink]="['/auth/login']">
              <h6> <i class='bx bx-download'></i> <span> Download Video</span> </h6>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div mat-dialog-actions style="justify-content: end !important;">
    <button mat-button color="warn" mat-dialog-close cdkFocusInitial>Close</button>
  </div>
</div>


