<!-- <ng-template let-data> -->
  <iframe width="926" height="521" src="https://www.youtube.com/embed/m55PTVUrlnA" title="All The JavaScript You Need To Know For React" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="926" height="521" src="https://www.youtube.com/embed/{{ data.key }}" title="Pipes in Angular | Angular Pipes | Angular 13+" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<!-- </ng-template> -->

