.navbar {
  padding: 0 25px;
  // background-color: rgba(0, 0, 0, 0.8);
}

#disktop-logo {
  display: block !important;
}

#mobile-logo, .moblie-anoch{
  display: none !important;
}

.nav-link, .moblie-anoch {
  color: var(--main-color) !important;
  font-size: 1.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 1280px) {
  .navbar {
    padding: 5px -5px !important;
  }
  #mobile-logo, .moblie-anoch {
    display: block !important;
  }

  #disktop-logo {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .moblie-anoch {
    font-size: 1.3rem;
  }
}
