.navbar {
  padding: 0 25px;
}

.navbar .menu {
  width: 100%;
  margin: auto;
  padding: 5px 0;
}

.navbar .menu .menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu .menu-container ul {
  list-style: none;
  display: flex;
}

.navbar .menu .menu-container ul li a{
  margin: 0 10px;
  text-decoration: none;
  font-size: 19px;
  color: var(--main-color);
  font-weight: 700;
  display: inline-flex;
  padding: 5px 6px;
  position: relative;
  transition: all 0.3s ease;
}

.navbar .menu .menu-container ul li:last-child a{
  background: var(--main-color);
  color: #fff;
  border-radius: 4px;
  text-align: center !important;
  font-size: 18px;
  padding: 6px 12px;
  box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.8),
    3px 3px 5px rgba(0, 0, 0, 0.8);
}

.navbar .menu .menu-container ul li a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset -3px -3px 7px rgba(0, 0, 0, 0.8),
    inset 3px 3px 5px rgba(0, 0, 0, 0.8);
}

// .navbar .menu .menu-container ul li a:hover {

// }

.navbar .menu .menu-container label.button {
  color: var(--main-color);
  font-size: 35px;
  cursor: pointer;
  // display: none;
}

.navbar .menu .menu-container label.cancel {
  position: absolute;
  top: 25px;
  right: 30px;
}

#check {
  display: none;
}

#disktop-logo {
  display: block !important;
}

#mobile-logo, .moblie-anoch{
  display: none !important;
}

.nav-link, .moblie-anoch {
  color: var(--main-color) !important;
  font-size: 1.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  .navbar .menu .menu-container ul {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    max-width: 100%;
    padding-top: 45px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8),
      0px 0px 20px rgba(0, 0, 0, 0.8);
    z-index: 12;
    transition: all 0.3s ease;
  }

  .navbar .menu .menu-container ul li a {
    display: block;
    font-size: 1.2rem;
    margin: 10px 5px;
    width: 100%;
    text-align: center;
  }

  .navbar .menu .menu-container ul li a:hover::before {
    box-shadow: none;
  }

  .navbar .menu .menu-container label.bars {
    display: block;
  }

  #check:checked ~ .bars {
    display: none;
  }

  #check:checked ~ #btncancel {
    display: block !important;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #mobile-logo, .moblie-anoch {
    display: block !important;
  }

  #disktop-logo {
    display: none !important;
  }

  .dropdown-content a {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 1280px) {
  .navbar {
    padding: 5px -5px !important;
  }
}

@media only screen and (max-width: 600px) {
  .moblie-anoch {
    font-size: 1.3rem;
  }
}
