.navbar {
  padding: 0 25px;
}

.navbar .menu {
  width: 100%;
  margin: auto;
  padding: 5px 0;
}

.navbar .menu .menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu .menu-container ul {
  list-style: none;
  display: flex;
}

.navbar .menu .menu-container ul li a{
  margin: 0 10px;
  text-decoration: none;
  font-size: 19px;
  color: var(--main-color);
  font-weight: 700;
  display: inline-flex;
  padding: 5px 6px;
  position: relative;
}

.navbar .menu .menu-container ul li:last-child{
  background: red;
  color: #fff;
  border-radius: 4px;
  text-align: center !important;
  font-size: 18px;
  padding: 6px 12px;
  box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.8),
    3px 3px 5px rgba(0, 0, 0, 0.8);
}

.navbar .menu .menu-container ul li a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset -3px -3px 7px rgba(0, 0, 0, 0.8),
    inset 3px 3px 5px rgba(0, 0, 0, 0.8);
}

#disktop-logo {
  display: block !important;
}

#mobile-logo, .moblie-anoch{
  display: none !important;
}

.nav-link, .moblie-anoch {
  color: var(--main-color) !important;
  font-size: 1.5rem;
  font-weight: 700;
}

.user_info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_info .img {
  padding: 0 5px 0 0;
}

.user_info .img h6 i {
  font-size: .3rem;
}

.user_info .img img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Style The Dropdown Button */
.dropbtn {
  // background-color: #4CAF50;
  color: white;
  // padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}

.dropbtn img {
  border-radius: 50%;
}

.dropbtn h6 {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}

.toggle-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-icons .searchbar {
  border-right: 2px solid red;
  padding-right: 5px;
}

.toggle-icons .searchbar a, .toggle-icons .loginnav a {
  font-size: 2rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdowns {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  // top: 60px;
  background: rgba(0, 0, 0, 0.8);
  min-width: -webkit-fill-available;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid #fff;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background: rgba(0,0,0,0.9);}

/* Show the dropdown menu on hover */
.dropdowns:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 992px) {
  #mobile-logo, .moblie-anoch {
    display: block !important;
  }

  #disktop-logo {
    display: none !important;
  }

  .dropdown-content a {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 1280px) {
  .navbar {
    padding: 5px -5px !important;
  }
}

@media only screen and (max-width: 600px) {
  .moblie-anoch {
    font-size: 1.3rem;
  }
}
