<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="move-img">
        <img src="../../../assets/images/movie/downloadMovie.jpg" class="w-100 img-fluid" alt="">
      </div>
      <hr>
          <div class="movie-share">
            <h5><i class='bx bx-share-alt'></i> Share Movie</h5>

            <div class="movie-icon">

              <div class="movie-each-icon">
                <a target="_blank">
                  <i class='bx bxl-facebook-circle'></i>
                </a>
              </div>
              <div class="movie-each-icon">
                <a target="_blank">
                  <i class='bx bxl-whatsapp' ></i>
                </a>
              </div>
              <div class="movie-each-icon">
                <a target="_blank">
                  <i class='bx bxl-twitter' ></i>
                </a>
              </div>
              <div class="movie-each-icon">
                <a target="_blank">
                  <i class='bx bxs-paper-plane'></i>
                </a>
              </div>
            </div>

          </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="movie-header">
        <h1>Movie Ttle</h1>
      </div>
      <hr style="margin-top: -7px;">
      <div class="movieDes">
        <h5>About Video File</h5>
        <div class="movieInfo">
          <p>
            Video files are files that hold digital video data on a computer. They are designed to store videos in a way
            that takes up less space without compromissing too much on quality.
            <br>
            A video file typically consists of a container , like an MP4 file, which holds both the video data and audio data.
            The video data is encoded in a specific format, such as H.264, while the audio data is encoded in a different format, like Opus.
            The combination of the video and audio formats allows the video fie to play back with synchronized audio.
            <br>
            In addition to video and audio, the container can also include other helpful information, such as subtitles or metadata like the
            video's title. This information is stored alongside the video and audio data, making it easier for users to organize and find the videos they want
            to watch.
          </p>
        </div>

        <div class="movieVideo mt-2">
          <video width="100%" controls>
            <source src="../../../assets/images/movie/HOW TO RECOVER YOUR PASSWORD.mp4" type="video/mp4">
          </video>
        </div>

        <div class="movie-link mt-4">
          <div class="movie-watch">
            <a [routerLink]="['/auth/login']">
              <h6> <i class='bx bx-download'></i> <span> Download</span> </h6>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
