.movie-share {
  width: 100%;
}

.movie-share h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

.movie-share h5 .bx {
  font-size: 1.3rem;
  color: var(--main-color);
}

.movie-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie-each-icon {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
}

.movie-each-icon:hover {
  border: 1px solid var(--main-color);
}
.movie-each-icon a .bx:hover {
  color: var(--main-color);
}

.movie-each-icon .bx {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}

.movie-header h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--main-color);
}

.movieDes {
  margin-top: -10px;
  // background: #000;
  font-size: .9rem;
  padding: 15px;
  font-family: emoji;
}
.movieDes h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

.movieDes .movieInfo {
  padding: 10px;
  // border: 2px double var(--main-color);
  // border-radius: 5px;
  width: 100%;
}

.movieVideo video {
  width: 100%;
  height: 250px !important;
}

.movie-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-watch, .movie-download {
  border: 0;
  width:100%;
  margin: 0 10px;
  padding: 3px 20px;
  background: none;
  font-size: 16px;
  padding: 0 12px 3px 12px;
  background: var(--main-color);
  color: #fff;
  transition: 0.3s;
}

.movie-watch a, .movie-download a {
  color: #fff;
  text-align: center;
}

.movie-watch a h6 {
  text-align: center;
}

.movie-watch a .bx, .movie-download a .bx {
  margin-top: 2px;
  font-size: 1.4rem;
  padding-left: 10px;
}
