header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: var(--bg-secondary-color);
  color: var(--text-color);
  padding: 1rem 1.5rem;
  position: fixed;
  left: 280px;
  width: calc(100% - 280px);
  top: 0;
  background:#0a0300 !important;
  z-index: 20;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  transition: left 300ms;
}

.menu-toggle label {
  height: 60px;
  width: 60px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
}

.header-icons span i {
  display: inline-block;
  margin-left: .7rem;
  font-size: 1.4rem;
}

.menu-toggle label:hover {
  background: var(--bg-secondary-color);
}

@media only screen and (max-width: 1124px) {
  header {
    left: 0;
    width: 100%;
  }
}
