<!-- Nav Bar -->
<app-nav></app-nav>
<!-- End Nav Bar -->

<!-- Content Body -->
<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="move-img">
            <img src="https://image.tmdb.org/t/p/original{{ movieDetails.poster_path }}" alt="" class="w-100 img-fluid">
          </div>
          <hr>
          <div class="movie-share">
            <h5><i class='bx bx-share-alt'></i> Share Movie</h5>

            <div class="movie-icon">

              <div class="movie-each-icon">
                <a (click)="share(movieDetails.title, 'facebook')" target="_blank">
                  <i class='bx bxl-facebook-circle'></i>
                </a>
              </div>
              <div class="movie-each-icon">
                <a (click)="share(movieDetails.title, 'whatsapp')" target="_blank">
                  <i class='bx bxl-whatsapp' ></i>
                </a>
              </div>
              <div class="movie-each-icon">
                <a (click)="share(movieDetails.title, 'twitter')" target="_blank">
                  <i class='bx bxl-twitter' ></i>
                </a>
              </div>
              <div class="movie-each-icon">
                <a href="" target="_blank">
                  <i class='bx bxs-paper-plane'></i>
                </a>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 mt-2">
          <div class="movie-heading">
            <h1>{{ movieDetails.title }}</h1>
          </div>
          <hr style="margin-top: -7px;">
          <div class="movie-details">
            <div class="movie-icons">
              <div class="movie-details-icons">
                <i class='bx bx-time-five'></i>
                <span>{{ movieDetails.runtime }}mins</span>
              </div>
              <div class="movie-details-icons">
                <i class='bx bx-tv' ></i>
                <span>HD</span>
              </div>
              <div class="movie-details-icons">
                <i class='bx bx-user-plus' ></i>
                <span>16+</span>
              </div>
            </div>
            <div class="move-gentic">
              <h5>Genres:</h5>
              <h6 *ngFor="let gentic of movieDetails.genres; let last = last">
                {{ gentic.name }}
                <span *ngIf="!last">, </span>
              </h6>
            </div>
          </div>
          <hr style="margin-top: -2px;">
          <div class="movie-des">
            <h5>Description</h5>
            <p>{{ movieDetails.overview }}</p>
          </div>
          <hr>
          <h5>Watch Trailer</h5>
          <iframe width="1366" class="w-100" height="230" [src]="getSafeVideoUrl()" title="John Wick: Chapter 4 (2023 Movie) Official Trailer – Keanu Reeves, Donnie Yen, Bill Skarsgård" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          <div class="movie-link mt-4">
            <div class="movie-watch">
              <a [routerLink]="['/auth/login', movieDetails.id]">
                <h6> <i class='bx bx-download'></i> <span> Download</span> </h6>
              </a>
            </div>
          </div>

        </div>
      </div>
      <h2 class="mt-4">Top Casts</h2>
      <hr>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 mt-3" *ngFor="let data of movieCastResult">
          <div class="row mt-2 mb-2">
            <div class="col-lg-2 col-md-2 col-sm-12">
              <img src="https://image.tmdb.org/t/p/original{{ data.profile_path }}" class="img-fluid w-100" alt="cast_img">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12">
              <h6>Name: {{ data.original_name }}</h6>
              <p><b>Role Played:</b> {{ data.known_for_department }} <br>
                <b>Chareter Name:</b> {{ data.character }} </p>
            </div>
          </div>
        </div>

      </div>
      <!-- Other Novies -->
      <div class="row trending-info mt-5">
        <div class="trending-heading">
          <h2 class="trending-title">Trending Movies</h2>
        </div>

        <owl-carousel-o [options]="tendingSlide">
          <ng-template carouselSlide *ngFor="let data of trendingMoviesResults">
            <div class="movie-box">
              <img src="https://image.tmdb.org/t/p/original{{ data.backdrop_path }}" width="250px" height="250px" alt="" class="movie-box-img">
              <div class="box-text">
                <h5 class="movie-title">{{ data.original_title }}</h5>
                <span class="movie-type">{{data.media_type}}</span>
                <a href="#" class="watch-btn play-btn">
                  <i class="bx bx-right-arrow"></i>
                </a>
              </div>
            </div>
          </ng-template>


        </owl-carousel-o>
      </div>
      <!-- End Of Other Movies -->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <app-aside-bar></app-aside-bar>
    </div>
  </div>
</div>
<!-- End Content Body -->

<div class="mt-5"></div>
<!-- Footer -->
<app-footer></app-footer>
<!-- End Footer -->
