<!-- Nav Bar -->
<app-nav></app-nav>
<!-- End Nav Bar -->

<!-- Content Body -->
<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="move-img">
            <img src="https://image.tmdb.org/t/p/original{{ movieDetails.poster_path }}" alt="" class="w-100 img-fluid">
          </div>
          <hr>
          <div class="movie-share">
            <h5><i class='bx bx-share-alt'></i> Share Movie</h5>
            <div class="movie-icon">
              <div class="movie-each-icon"><i class='bx bxl-facebook-circle'></i></div>
              <div class="movie-each-icon"><i class='bx bxl-whatsapp' ></i></div>
              <div class="movie-each-icon"><i class='bx bxl-twitter' ></i></div>
              <div class="movie-each-icon"><i class='bx bxs-paper-plane'></i></div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 mt-2">
          <div class="movie-heading">
            <h1>{{ movieDetails.title }}</h1>
          </div>
          <hr style="margin-top: -7px;">
          <div class="movie-details">
            <div class="movie-icons">
              <div class="movie-details-icons">
                <i class='bx bx-time-five'></i>
                <span>{{ movieDetails.runtime }}mins</span>
              </div>
              <div class="movie-details-icons">
                <i class='bx bx-tv' ></i>
                <span>HD</span>
              </div>
              <div class="movie-details-icons">
                <i class='bx bx-user-plus' ></i>
                <span>16+</span>
              </div>
            </div>
            <div class="move-gentic">
              <h5>Genres:</h5>
              <h6 *ngFor="let gentic of movieDetails.genres">{{ gentic.name }}</h6>
            </div>
          </div>
          <hr style="margin-top: -2px;">
          <div class="movie-des">
            <h5>Description</h5>
            <p>{{ movieDetails.overview }}</p>
          </div>
          <div class="movie-link">
            <div class="movie-watch">
              <a [routerLink]="['/movie']">
                <i class='bx bx-download'></i> <span> Download</span>
              </a>
            </div>
            <div class="movie-download">
              <a href="https://www.themoviedb.org/video/play?key={{ movieVideoResults }}" target="_blank">
                <i class='bx bx-play-circle'></i> <span> Watch Trailer</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Other Novies -->
      <div class="row trending-info mt-5">
        <div class="trending-heading">
          <h2 class="trending-title">Trending Movies</h2>
        </div>

        <owl-carousel-o [options]="tendingSlide">
          <ng-template carouselSlide *ngFor="let data of trendingMoviesResults">
            <div class="movie-box">
              <img src="https://image.tmdb.org/t/p/original{{ data.backdrop_path }}" width="250px" height="250px" alt="" class="movie-box-img">
              <div class="box-text">
                <h5 class="movie-title">{{ data.original_title }}</h5>
                <span class="movie-type">{{data.media_type}}</span>
                <a href="#" class="watch-btn play-btn">
                  <i class="bx bx-right-arrow"></i>
                </a>
              </div>
            </div>
          </ng-template>


        </owl-carousel-o>
      </div>
      <!-- End Of Other Movies -->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <app-aside-bar></app-aside-bar>
    </div>
  </div>
</div>
<!-- End Content Body -->

<div class="mt-5"></div>
<!-- Footer -->
<app-footer></app-footer>
<!-- End Footer -->
