.movie-container {
  width: 100%;
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 5px;
  padding-top: 5px;
}


.search-header {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--main-color);
}
.movie-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.movie-duration {
  padding-right: 10px;
  // padding-left: 10px;
}

.movie-duration .bx {
  font-size: 1rem;
  color: var(--main-color);
}

.movie-duration span {
  margin-left: 5px;
  font-size: .9rem;
  color: var(--text-color);
  font-weight: 400;
}

.movie-info {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
}

.movie-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.movie-watch, .movie-download {
  border: 0;
  margin: 0 10px;
  padding: 3px 20px;
  background: none;
  font-size: 16px;
  padding: 0 12px 3px 12px;
  background: var(--main-color);
  color: #fff;
  transition: 0.3s;
}

.movie-watch a, .movie-download a {
  color: #fff;
}

.movie-watch a .bx, .movie-download a .bx {
  margin-top: 2px;
  font-size: 1.4rem;
  padding-left: 10px;
}


.error-data-container {
  margin: 2rem 0;
}

.error-data-container h1 {
  font-size: 6rem;
  font-weight: 800;
}

error-data-container h3 {
  font-size: 1.7rem;
  font-weight: 600;
}

.error-data-container h3 span {
  color: var(--main-color);
}

.error-container {
  margin: 20px 0;
  width: 100%;
}

.error-container h1 {
  font-size: 6rem;
  font-weight: 900;
}

.error-container h1 .bx {
  color: var(--main-color);
}

.error-container small {
  font-weight: 500;
  color: var(--main-color);
}

.error-container h5 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: .5rem 0;
}


@media only screen and (max-width: 600px) {

  .movie-info {
    font-size: .8rem;
  }

  .error-container h1 {
    margin-top: 9rem;
  }

  .error-container h5 {
    font-size: 1.2rem;
  }
}
