<app-nav></app-nav>
<!-- Contents -->
<ng-container *ngIf="loading; else loadings">
  <section class="search mt-5" id="search">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">

          <ng-container *ngIf="resulterr; else elseTemplate">

            <div class="row movie-container" *ngFor="let data of searchResult">
              <div class="col-lg-3 col-md-3 col-sm-12 movie-img-container">
                <img src="https://image.tmdb.org/t/p/original{{ data.poster_path }}" height="200px" alt="" class="w-100 img-fluid">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 mt-3">
                <div class="movie-content">
                  <h2 class="search-header">{{ data.title}}</h2>
                  <div class="movie-icon">
                    <div class="movie-duration">
                      <i class='bx bx-time-five'></i>
                      <span>120mins</span>
                    </div>
                    <div class="movie-duration">
                      <i class='bx bx-tv' ></i>
                      <span>HD</span>
                    </div>
                    <div class="movie-duration">
                      <i class='bx bx-user-plus' ></i>
                      <span>16+</span>
                    </div>
                  </div>
                  <p class="movie-info">{{ data.overview }}</p>
                  <div class="movie-link">
                    <div class="movie-watch">
                      <a [routerLink]="['/movie', data.id]">
                        <i class='bx bx-show-alt'></i> <span> View</span>
                      </a>
                    </div>
                    <div class="movie-download">
                      <a href="#">
                        <i class='bx bx-play-circle'></i> <span> Watch Trailer</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </ng-container>
          <ng-template #elseTemplate>
            <div class="row mt-5 mb-3 movie-container">
              <div class="text-center error-data-container">
                <h1 class="text-center text-warning"><i class='bx bx-tired'></i></h1>
                <h3>No result for <span>{{ typeInput }}</span></h3>
              </div>
            </div>

            <div class="row movie-container" *ngFor="let data of (trendingMoviesResults ? trendingMoviesResults.slice(0,5): []); let i = index;">
              <div class="col-lg-3 col-md-3 col-sm-12 movie-img-container">
                <img src="https://image.tmdb.org/t/p/original{{ data.poster_path }}" height="200px" alt="" class="w-100 img-fluid">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 mt-3">
                <div class="movie-content">
                  <h2 class="search-header">{{ data.title}}</h2>
                  <div class="movie-icon">
                    <div class="movie-duration">
                      <i class='bx bx-time-five'></i>
                      <span>120mins</span>
                    </div>
                    <div class="movie-duration">
                      <i class='bx bx-tv' ></i>
                      <span>HD</span>
                    </div>
                    <div class="movie-duration">
                      <i class='bx bx-user-plus' ></i>
                      <span>16+</span>
                    </div>
                  </div>
                  <p class="movie-info">{{ data.overview }}</p>
                  <div class="movie-link">
                    <div class="movie-watch">
                      <a [routerLink]="['/movie', data.id]">
                        <i class='bx bx-show-alt'></i> <span> View</span>
                      </a>
                    </div>
                    <div class="movie-download">
                      <a href="#">
                        <i class='bx bx-play-circle'></i> <span> Watch Trailer</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>


        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <app-aside-bar></app-aside-bar>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-template #loadings>
  <section class="container-fluid mt-5">
    <div class="container mt-5">
      <div class="error-container text-center">
        <ng-container *ngIf="errorStatus === 0; else elseTemplates">
          <h1><i class='bx bx-error'></i></h1>
        </ng-container>
        <ng-template #elseTemplates>
          <h1><i class='bx bx-error'></i> {{ errorStatus }}</h1>
        </ng-template>
        <small>{{ errorMessage}}</small>
        <h5>Something Bad Happened. Please Try Again Later.</h5>
      </div>
    </div>
  </section>
</ng-template>

<app-footer></app-footer>
