<div class="container-fluid">
  <input
    type="checkbox"
    [(ngModel)]="checkBoxChecker"
    (ngModelChange)="handleCheckboxChange($event)"
    name=""
    id="sidebar-toggle"
  />
  <app-aside-bar [isChecked]="checkBoxChecker"></app-aside-bar>

  <!-- The Main Content -->
  <div class="main-content">
    <app-header></app-header>

    <!-- Main Body -->
    <main>
      <div class="page-header">
        <div class="">
          <h1>
            <span><i class="bx bx-lock-open-alt"></i></span> Change Password
          </h1>
          <!-- <small>Last Login: March 08th, 2023 10:57pm</small> -->
        </div>
      </div>

      <div class="row mt-5">
        <div class="jobs">
          {{ updatePassword | json }}
          <form
            #changePasswordForm="ngForm"
            (ngSubmit)="saveNewPassword(changePasswordForm)"
            class="mt-5"
          >
            <div class="mb-3">
              <label for="enterOldPassword" class="form-label"
                >Old Password</label
              >
              <input
                type="password"
                name="oldPassword"
                class="form-control"
                [(ngModel)]="updatePassword.oldPassword"
                placeholder="Enter your login password"
                id="enterOldPassword"
                aria-describedby="oldPassword"
                #oldPasswordErr="ngModel"
                required
              />
              <div
                class="form-text text-danger"
                *ngIf="oldPasswordErr.dirty && oldPasswordErr.errors?.['required']"
              >
                <h6>Please provide your old password</h6>
              </div>
            </div>
            <div class="mb-3">
              <label for="enterNewPassword" class="form-label"
                >New Password</label
              >
              <input
                type="password"
                name="newPassword"
                class="form-control"
                [(ngModel)]="updatePassword.newPassword"
                placeholder="Enter your new password"
                minlength="5"
                maxlength="20"
                id="enterNewPassword"
                aria-describedby="newPassword"
                #newPasswordErr="ngModel"
                required
              />
              <div
                class="form-text text-danger"
                *ngIf="newPasswordErr.errors?.['minlength']"
              >
                <h6>Password should be min of 5 characters</h6>
              </div>
              <div
                class="form-text text-danger"
                *ngIf="newPasswordErr.errors?.['maxlength']"
              >
                <h6>Password should not be more than 20 characters</h6>
              </div>
              <div
                class="form-text text-danger"
                *ngIf="newPasswordErr.dirty && newPasswordErr.errors?.['required']"
              >
                <h6>Please provide your new password</h6>
              </div>
            </div>
            <div class="mb-3">
              <label for="enterConfirmPassword" class="form-label"
                >Confirm Password</label
              >
              <input
                type="password"
                name="confirmPassword"
                class="form-control"
                [(ngModel)]="updatePassword.confirmPassword"
                placeholder="Retype new password"
                id="enterConfirmPassword"
                aria-describedby="confirmPassword"
                required
                #confirmPasswordErr="ngModel"
              />
              <div
                class="form-text text-danger"
                *ngIf="confirmPasswordErr.dirty && confirmPasswordErr.errors?.['required']"
              >
                <h6>Please provide your confirm password</h6>
              </div>
              <div
                class="form-text text-danger"
                *ngIf="
                  updatePassword.newPassword !==
                    updatePassword.confirmPassword && confirmPasswordErr.dirty
                "
              >
                <h6>Password does not match</h6>
              </div>
              <div
                class="form-text text-success"
                *ngIf="
                  updatePassword.newPassword ===
                    updatePassword.confirmPassword && confirmPasswordErr.dirty
                "
              >
                <h6>Password match!!!</h6>
              </div>
            </div>
            <div class="btn-container text-center mt-2">
              <button class="btn btn-outline-danger" [disabled]="changePasswordForm.invalid" type="submit">
                Save Password
              </button>
            </div>
          </form>
        </div>

      </div>
    </main>
  </div>
</div>
<!-- <label for="sidebar-toggle" class="body-label"></label> -->
<app-footer></app-footer>
