.main-content {
  margin-left: 280px;
  transition: margin-left 300ms;
}

main {
  padding: 1.5rem;
  min-height: calc(100vh - 70px);
  margin-top: 70px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.header-actions button {
  outline: none;
  border: 2px solid var(--bg-secondary-color);
  background: transparent;
  color: var(--text-color);
  padding: .5rem 1rem;
  margin-left: 1rem;
  border-radius: 3px;
  font-weight: 500;
}

.header-actions button:hover {
  background: var(--main-color);
  color: var(--text-color);
}

.header-actions button span i {
  font-size: 1.2rem;
  margin-right: .3rem;
}

.jobs h3 small {
  color: var(--text-color);
  font-weight: 600;
  display: inline-block;
  margin-left: 1rem;
  font-size: .9rem;
}

.jobs {
  background: var(--bg-secondary-color);
  padding: 1rem;
  color: var(--text-color);
}

.form-control {
  background: transparent;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  // outline: none;
}

// .form-control:active {
//   boder
// }

@media only screen and (max-width: 1124px) {
  .main-content {
    margin-left: 0;
  }

  .cards {
    grid-template-columns: repeat(2,1fr);
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 100%;
  }

  .job-grid {
    grid-template-columns: 100%;
  }

  .page-header {
    display: block;
  }

  .header-actions {
    margin-top: 1rem;
    text-align: right;
  }

  .header-actions button:first-child {
    margin-left: 0rem;
  }
}
