.hero-slide-item {
  padding-top: 50%;
  position: relative;
  overflow: hidden;
}

.hero-slide-item img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
}

.hero-slide-item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  display: flex;
}

.item-content-wraper {
  padding-left: 5rem;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.item-content-wraper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.item-content-title {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 900;
}

.category-btns button {
    background: rgba(37, 19, 12, 0.7);
    outline: none;
    border: 2px solid rgba(177, 4, 12, 0.8);
    color: #fff;
    border-radius: 20px;
    padding: 0 1.5rem;
    font-size: 0.9rem;
}

.category-btns .active {
    background: rgba(177, 4, 12, 0.8);
}

.movie-infos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: calc(var(--space-top) / 2);
}

.movie-info {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.movie-info span {
  margin-left: 3px;
}

.movie-info i {
  color: var(--main-color);
}

.movie-info ~ .movie-info {
  margin-left: 5px;
}

.item-content-description {
  font-size: 1.15rem;
  margin-top: var(--space-top);
  line-height: 1.5rem;
}

.item-action {
  margin-top: var(--space-top);
}

// Trending Movies
.trending-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    border-bottom: 2px solid hsla(80, 37%, 97%, 0.247);
    margin-bottom: 15px;
	flex-wrap: wrap;
}

.top-trading-movies {
	display: inline-block;
    align-items: center;
    font-size: 18px;
    color: #ccc;
    padding: 10px;
}

.top-trading-movies .icon,
.top-trading-movies .text {
	margin: 0 2px;
	font-weight: 800;
}

.top-trading-movies .icon {
  font-size: 32px;
}

.top-trading-movies .text {
  font-size: 1.2rem;
}

.top-trading-movies .red-dot {
	width: 7px;
    height: 7px;
    background: red;
    border-radius: 50%;
    display: inline-block;
}

.category-type {
  color: rgba(37, 19, 12,1.6);
}

category-type .icon .category-icon {
  font-size: 32px;
}

.category-type .text {
  font-size: 1.1rem;
  font-weight: 700;
}


// MOVIES BOXES
.movie-box {
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;
  cursor: pointer;
}

.movie-box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-box .box-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 14px;
  background: linear-gradient(8deg, hsl(0 50% 24% / 74%) 14%, hsl(0 40% 24% / 14%) 44%);
  overflow: hidden;
}

.movie-box .box-text .movie-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.movie-box .box-text .rating-container .rate-mat-icon,
.movie-box .box-text .rating-container .calendar-mat-icon {
  font-size: 20px;
}

.movie-box .box-text .rating-container .rate-mat-icon {
  color: #FFEF00;
}

.movie-box .box-text .rating-container .calendar-mat-icon {
  color: #E50914;
}

.movie-box .box-text .rating-container .rate-text,
.movie-box .box-text .rating-container .year-text {
  font-size: 16px;
  font-weight: 600;
}

.play-btn {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.watch-btn{
  display: flex;
  align-items: center;
  column-gap: .8rem;
  color: var(--text-color);
}

.watch-btn .bx {
  font-size: 15px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 1280px) {

  .hero-slide-item {
      padding-top: 50%;
  }

  .item-content-wraper {
      width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
   .movie-box .box-text .rating-container .rate-mat-icon,
   .movie-box .box-text .rating-container .calendar-mat-icon {
      font-size: 18px;
    }
   
   .movie-box .box-text .rating-container .rate-text,
   .movie-box .box-text .rating-container .year-text {
	  font-size: 12px;
	  font-weight: 600;
	  margin-left: -2px;
   }
   
   .watch-btn .bx {
     width: 35px;
	 height: 35px;
   }
}

@media only screen and (max-width: 850px) {

  .container {
      padding: 0 15px;
  }

  .hero-slide-item {
      height: 100%;
      // max-height: 100%;
      max-width: 100%;
      padding-top: unset;
  }

  .item-content-wraper {
    width: 100%;
    height: 550px;
    padding-bottom: 20px;
    padding-right: .5rem;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .hero-slide-item-content {
      position: relative;
  }

  .hero-slide-item img {
      height: 100%;
      object-fit: cover;
  }

  .item-content-title {
      font-size: 2rem;
  }

  // .item-content-description {
  //   display: none;
  // }
}

.errDis {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.error-container h1 {
  font-size: 6rem;
  font-weight: 900;
}

.error-container h1 .bx {
  color: var(--main-color);
}

.error-container small {
  font-weight: 500;
  color: var(--main-color);
}

.error-container h5 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: .5rem 0;
}

@media only screen and (max-width: 600px) {

  .item-content-wraper {
    padding-left: 1.5rem;
  }
  .item-content-description {
    font-size: 1rem;
  }
  
  .top-trading-movies .icon {
	font-size: 28px;
  }

  .top-trading-movies .text {
	font-size: 1rem;
  }

  category-type .icon .category-icon {
	font-size: 28px;
  }

  .category-type .text {
	  font-size: .9rem;
  }

  .error-container h1 {
    margin-top: 9rem;
  }

  .error-container h5 {
    font-size: 1.2rem;
  }
}
