<ng-container *ngIf="loading; else elseTemplate">
<!-- Navbar -->
<app-nav></app-nav>
<!-- Navbar End -->

<!-- Banner Start -->
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let data of bannerApiData">
    <div class="hero-slide-item">
      <img src="https://image.tmdb.org/t/p/original{{ data.backdrop_path }}" alt="" />
      <div class="overlay"></div>
      <div class="hero-slide-item-content">
        <div class="item-content-wraper">
          <div class="item-content-title top-down" *ngIf="data.original_name; else elseBlock">{{ data.original_name }}</div>
          <ng-template #elseBlock>
            <div class="item-content-title top-down" >{{ data.original_title }}</div>
          </ng-template>

          <div class="movie-infos top-down delay-2">
            <div class="movie-info">
              <i class="bx bxs-star"></i>
              <span>9.5</span>
            </div>
            <div class="movie-info">
              <i class="bx bxs-time"></i>
              <span>120 mins</span>
            </div>
            <div class="movie-info">
              <span>HD</span>
            </div>
            <div class="movie-info">
              <span>16+</span>
            </div>
          </div>
          <div class="item-content-description top-down delay-4">
            {{ data.overview.substring(0, 150) }}... <a [routerLink]="['/movie', data.id]" routerLinkActive="router-link-active"  style="padding:10px 0">Show More</a>
          </div>
          <div class="item-action top-down delay-6">
            <a href="#" class="btn btn-hover">
              <i class="bx bxs-right-arrow"></i>
              <span>Watch Trailer</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
<!-- Banner End -->

<!-- Trending Section -->
<section class="container mt-5">
  <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="trending-info">
          <div class="trending-heading">
            <h2 class="trending-title">Trending Movies</h2>
          </div>

          <owl-carousel-o [options]="tendingSlide">
            <ng-template carouselSlide *ngFor="let data of trendingMoviesResults">
              <div class="movie-box" [routerLink]="['/movie', data.id]">
                <img src="https://image.tmdb.org/t/p/original{{ data.backdrop_path }}" width="250px" height="250px" alt="" class="movie-box-img">
                <div class="box-text">
                  <h5 class="movie-title">{{ data.original_title }}</h5>
                  <span class="movie-type">{{data.media_type}}</span>
                  <a href="javascript:void(0)" class="watch-btn play-btn">
                    <i class="bx bx-right-arrow"></i>
                  </a>
                </div>
              </div>
            </ng-template>


          </owl-carousel-o>
        </div>

        <div class="trending-info mt-5">
          <div class="trending-heading">
            <h2 class="trending-title">Adventure Movies</h2>
          </div>

          <owl-carousel-o [options]="tendingSlide">
            <ng-template carouselSlide *ngFor="let data of adventureMoviesResults">
              <div class="movie-box" [routerLink]="['/movie', data.id]">
                <img src="https://image.tmdb.org/t/p/original{{ data.backdrop_path }}" width="250px" height="250px" alt="" class="movie-box-img">
                <div class="box-text">
                  <h5 class="movie-title">{{ data.original_title }}</h5>
                  <span class="movie-type">{{data.media_type}}</span>
                  <a href="javascript:void(0)" class="watch-btn play-btn">
                    <i class="bx bx-right-arrow"></i>
                  </a>
                </div>
              </div>
            </ng-template>


          </owl-carousel-o>
        </div>

        <div class="trending-info mt-5">
          <div class="trending-heading">
            <h2 class="trending-title">Action Movies</h2>
          </div>

          <owl-carousel-o [options]="tendingSlide">
            <ng-template carouselSlide *ngFor="let data of actionMoviesResults">
              <div class="movie-box" [routerLink]="['/movie', data.id]">
                <img [src]="'https://image.tmdb.org/t/p/original' + data.backdrop_path" width="250px" height="250px" alt="" class="movie-box-img">
                <div class="box-text">
                  <h5 class="movie-title">{{ data.original_title }}</h5>
                  <span class="movie-type">{{data.media_type}}</span>
                  <a href="javascript:void(0)" class="watch-btn play-btn">
                    <i class="bx bx-right-arrow"></i>
                  </a>
                </div>
              </div>
            </ng-template>


          </owl-carousel-o>
        </div>

        <div class="trending-info mt-5">
          <div class="trending-heading">
            <h2 class="trending-title">Animations Movies</h2>
          </div>

          <owl-carousel-o [options]="tendingSlide">
            <ng-template carouselSlide *ngFor="let data of animationMoviesResults">
              <div class="movie-box" [routerLink]="['/movie', data.id]">
                <img src="https://image.tmdb.org/t/p/original{{ data.backdrop_path }}" width="250px" height="250px" alt="" class="movie-box-img">
                <div class="box-text">
                  <h5 class="movie-title">{{ data.original_title }}</h5>
                  <span class="movie-type">{{data.media_type}}</span>
                  <a href="javascript:void(0)" class="watch-btn play-btn">
                    <i class="bx bx-right-arrow"></i>
                  </a>
                </div>
              </div>
            </ng-template>


          </owl-carousel-o>
        </div>

        <div class="trending-info mt-5">
          <div class="trending-heading">
            <h2 class="trending-title">Sci-Fi Movies</h2>
          </div>

          <owl-carousel-o [options]="tendingSlide">
            <ng-template carouselSlide *ngFor="let data of scifiMoviesResults">
              <div class="movie-box" [routerLink]="['/movie', data.id]">
                <img src="https://image.tmdb.org/t/p/original{{ data.backdrop_path }}" width="250px" height="250px" alt="" class="movie-box-img">
                <div class="box-text">
                  <h5 class="movie-title">{{ data.original_title }}</h5>
                  <span class="movie-type">{{data.media_type}}</span>
                  <a href="javascript:void(0)" class="watch-btn play-btn">
                    <i class="bx bx-right-arrow"></i>
                  </a>
                </div>
              </div>
            </ng-template>


          </owl-carousel-o>
        </div>

        <div class="trending-info mt-5">
          <div class="trending-heading">
            <h2 class="trending-title">Comdey Movies</h2>
          </div>

          <owl-carousel-o [options]="tendingSlide">
            <ng-template carouselSlide *ngFor="let data of comedyMoviesResults">
              <div class="movie-box" [routerLink]="['/movie', data.id]">
                <img src="https://image.tmdb.org/t/p/original{{ data.backdrop_path }}" width="250px" height="250px" alt="" class="movie-box-img">
                <div class="box-text">
                  <h5 class="movie-title">{{ data.original_title }}</h5>
                  <span class="movie-type">{{data.media_type}}</span>
                  <a href="javascript:void(0)" class="watch-btn play-btn">
                    <i class="bx bx-right-arrow"></i>
                  </a>
                </div>
              </div>
            </ng-template>


          </owl-carousel-o>
        </div>

        <div class="trending-info mt-5">
          <div class="trending-heading">
            <h2 class="trending-title">Documentary Movies</h2>
          </div>

          <owl-carousel-o [options]="tendingSlide">
            <ng-template carouselSlide *ngFor="let data of documentaryMoviesResults">
              <div class="movie-box" [routerLink]="['/movie', data.id]">
                <img src="https://image.tmdb.org/t/p/original{{ data.backdrop_path }}" width="250px" height="250px" alt="" class="movie-box-img">
                <div class="box-text">
                  <h5 class="movie-title">{{ data.original_title }}</h5>
                  <span class="movie-type">{{data.media_type}}</span>
                  <a href="javascript:void(0);" class="watch-btn play-btn">
                    <i class="bx bx-right-arrow"></i>
                  </a>
                </div>
              </div>
            </ng-template>


          </owl-carousel-o>
        </div>

        <div class="trending-info mt-5">
          <div class="trending-heading">
            <h2 class="trending-title">Thriller Movies</h2>
          </div>

          <owl-carousel-o [options]="tendingSlide">
            <ng-template carouselSlide *ngFor="let data of thrillerMoviesResults">
              <div class="movie-box" [routerLink]="['/movie', data.id]">
                <img src="https://image.tmdb.org/t/p/original{{ data.backdrop_path }}" width="250px" height="250px" alt="" class="movie-box-img">
                <div class="box-text">
                  <h5 class="movie-title">{{ data.original_title }}</h5>
                  <span class="movie-type">{{data.media_type}}</span>
                  <a href="javascript:void(0)" class="watch-btn play-btn">
                    <i class="bx bx-right-arrow"></i>
                  </a>
                </div>
              </div>
            </ng-template>


          </owl-carousel-o>
        </div>

      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 mt-3">
        <app-aside-bar></app-aside-bar>
      </div>
  </div>
</section>
<div class="mt-5 pt-5"></div>
<!-- Footer -->
<app-footer></app-footer>
<!-- End Footer -->
</ng-container>
<ng-template #elseTemplate>
  <div class="container errDis mt-5">
    <div class="error-container text-center">
      <ng-container *ngIf="errorStatus === 0; else elseTemplates">
        <h1><i class='bx bx-wifi-off'></i></h1>
      </ng-container>
      <ng-template #elseTemplates>
        <h1><i class='bx bx-error'></i> {{ errorStatus }}</h1>
      </ng-template>
      <div class="display_err">

        <h5>Something Bad Happened. Please Try Again Later.</h5>
      </div>
    </div>
  </div>
</ng-template>

