<ng-container *ngIf="!loading; else loadingTemplate">
  <!-- Main Content -->
  <!-- Navbar -->
  <app-nav></app-nav>
  <!-- Navbar End -->

  <!-- Banner Start -->
  <owl-carousel-o [options]="customOptions" class="custom-carousel">
    <ng-template carouselSlide *ngFor="let data of bannerApiData">
      <div class="hero-slide-item">
        <img src="https://image.tmdb.org/t/p/original{{ data.backdrop_path }}" alt="" />
        <div class="overlay"></div>
        <div class="hero-slide-item-content">
          <div class="item-content-wraper">
            <div class="item-content-title top-down" *ngIf="data.original_name; else elseBlock">{{ data.original_name }}</div>
            <ng-template #elseBlock>
              <div class="item-content-title top-down">{{ data.original_title }}</div>
            </ng-template>

            <div class="movie-infos top-down delay-2">
              <div class="movie-info">
                <mat-icon aria-hidden="false" aria-label="" style="font-size: 20px; color: #FFEF00;" fontIcon="grade"></mat-icon>
                <span>{{ data.vote_average }}</span>
              </div>
              <div class="movie-info">
                <mat-icon aria-hidden="false" aria-label="" style="font-size: 20px; color: #E50914;" fontIcon="history"></mat-icon>
                <span>120 mins</span>
              </div>
              <div class="movie-info">
				<mat-icon aria-hidden="false" aria-label="" style="font-size: 20px; color: #E50914;" fontIcon="hd"></mat-icon>
                <span>HD</span>
              </div>
              <div class="movie-info">
				<mat-icon aria-hidden="false" aria-label="" style="font-size: 20px; color: #E50914;" fontIcon="person"></mat-icon>
                <span>16+</span>
              </div>
            </div>
            <div class="item-content-description top-down delay-4">
              {{ data.overview.substring(0, 150) }}... <a [routerLink]="['/movie', data.id]" routerLinkActive="router-link-active" style="padding:10px 0">Show More</a>
            </div>
            <div class="item-action top-down delay-6">
              <a (click)="openVideo(data.id, '2000ms', '1500ms')" class="btn btn-hover">
                <i class="bx bxs-right-arrow"></i>
                <span>Watch Trailer</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  <!-- Banner End -->

  <!-- Trending Section -->
  <section class="container-fluid mt-3">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 trending">
        <!-- Section template -->
        <div class="trending-info mt-5" *ngIf="selectedCategoryData">
		  <div class="container">
			<div class="trending-heading">
			  <div class="top-trading-movies">
				<div class="d-flex align-items-center justify-content-center">
				  <span class="icon"><mat-icon aria-hidden="false" aria-label="" fontIcon="trending_up"></mat-icon></span>
				  <span class="text">Trends Now</span>
				</div>
				<div class="d-flex align-items-center justify-content-center mt-2">
				  <span class="red-dot"></span>
				</div>
			  </div>
			  <div class="top-trading-movies">
				<div class="d-flex align-items-center justify-content-center category-type">
				  <span class="icon"><mat-icon aria-hidden="false" aria-label="" fontIcon="local_fire_department"></mat-icon></span>
				  <span class="text">Popular</span>
				</div>
			  </div>
			  <div class="top-trading-movies">
				<div class="d-flex align-items-center justify-content-center category-type">
				  <span class="icon"><mat-icon aria-hidden="false" aria-label="" fontIcon="star_half"></mat-icon></span>
				  <span class="text">Premieres</span>
				</div>
			  </div>
			  <div class="top-trading-movies">
				<div class="d-flex align-items-center justify-content-center category-type">
				  <span class="icon"><mat-icon aria-hidden="false" aria-label="" fontIcon="add"></mat-icon></span>
				  <span class="text">Recently Added</span>
				</div>
			  </div>
			</div>
			<div class="category-btns mb-3">
			  <owl-carousel-o [options]="categoryOptions" class="category-carousel">
				<ng-container *ngFor="let section of sections">
				  <ng-template carouselSlide>
					<button
					  mat-raised-button
					  [class.active]="selectedCategory === section.title"
					  (click)="selectCategory(section.title)">
					  {{ section.title.split(' ')[0] }}
					</button>
				  </ng-template>
				</ng-container>
			  </owl-carousel-o>
			</div>
		  </div>
			<!-- [routerLink]="['/movie', data.id]" -->
		  <owl-carousel-o [options]="tendingSlide" class="trending-carousel">
			  <ng-template carouselSlide *ngFor="let data of selectedCategoryData.results">
				<div class="movie-box">
				  <img [src]="'https://image.tmdb.org/t/p/original' + data.backdrop_path" width="250px" height="250px" alt="" class="movie-box-img">
				  <div class="box-text">
					<h5 class="movie-title">{{ data.original_title }}</h5>
					<div class="d-flex align-items-center rating-container">
						<div class="d-flex align-items-center" style="margin-right: 5px;">
							<mat-icon aria-hidden="false" class="rate-mat-icon" aria-label="" fontIcon="grade"></mat-icon>
							<span class="rate-text">7.9</span>
						</div>
						<div class="d-flex align-items-center" style="margin-left: 5px;">
							<mat-icon aria-hidden="false" aria-label="" class="calendar-mat-icon"  fontIcon="calendar_month"></mat-icon>
							<span class="year-text">2024</span>
						</div>
					</div>
					
					<a (click)="openVideo(data.id, '2000ms', '1500ms')" class="watch-btn play-btn">
					  <i class="bx bx-right-arrow"></i>
					</a>
				  </div>
				</div>
			  </ng-template>
		   </owl-carousel-o>		  
		</div>
      </div>
      <!--- <div class="col-lg-3 col-md-3 col-sm-12 mt-3">
        <app-aside-bar></app-aside-bar>
      </div> -->
    </div>
  </section>
  <div class="mt-5 pt-5"></div>
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- End Footer -->
</ng-container>

<ng-template #loadingTemplate>
  <!-- Display a loading spinner or placeholder here if desired -->
  <div>Loading...</div>
</ng-template>

<ng-template #elseTemplate>
  <div class="container errDis mt-5">
    <div class="error-container text-center">
      <ng-container *ngIf="errorStatus === 0; else otherErrors">
        <h1><i class='bx bx-wifi-off'></i></h1>
        <div class="display_err">
          <h5>Something Bad Happened. Please Try Again Later.</h5>
        </div>
      </ng-container>
      <ng-template #otherErrors>
        <h1><i class='bx bx-error'></i> {{ errorStatus }}</h1>
        <div class="display_err">
          <h5>Something Bad Happened. Please Try Again Later.</h5>
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>