.hero-slide-item {
  padding-top: 50%;
  position: relative;
  overflow: hidden;
}

.hero-slide-item img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
}

.hero-slide-item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  display: flex;
}

.item-content-wraper {
  padding-left: 5rem;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.item-content-wraper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.item-content-title {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 900;
}

.movie-infos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: calc(var(--space-top) / 2);
}

.movie-info {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.movie-info span {
  margin-left: 5px;
}

.movie-info i {
  color: var(--main-color);
}

.movie-info ~ .movie-info {
  margin-left: 5px;
}

.item-content-description {
  font-size: 1.15rem;
  margin-top: var(--space-top);
  line-height: 1.5rem;
}

.item-action {
  margin-top: var(--space-top);
}


.delay-2 {
  transition-delay: 0.2s;
}

.delay-4 {
  transition-delay: 0.4s;
}

.delay-6 {
  transition-delay: 0.6s;
}

.delay-8 {
  transition-delay: 0.8s;
}


.btn {
  color: #ffffff;
  padding: 0.25rem 1.5rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  display: inline-flex;
  position: relative;
  align-items: center;
}

.btn-hover::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
  width: 100%;
}

.btn i,
.btn span {
  z-index: 1;
}

.btn i {
  margin-right: 1rem;
}

// Trending Movies
.trending-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa44;
  padding: 8px 14px;
  border: 1px solid hsla(80, 37%, 97%, 0.247);
  margin-bottom: 20px;
}

.trending-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.watch-btn{
  display: flex;
  align-items: center;
  column-gap: .8rem;
  color: var(--text-color);
}

.watch-btn .bx {
  font-size: 15px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-box {
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;
}

// .movie-box:hover {
//   cursor: pointer;
//   transform: scale(1.05);
// }

.movie-box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-box .box-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 14px;
  background: linear-gradient(8deg, hsl(0 50% 24% / 74%) 14%, hsl(0 40% 24% / 14%) 44%);
  overflow: hidden;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.movie-type {
  font-size: .938rem;
  font-weight: 500;
  text-transform: capitalize;
}

.play-btn {
  position: absolute;
  bottom: 0.8rem;
  right: 0.8rem;
}


@media only screen and (max-width: 1280px) {

  .hero-slide-item {
      padding-top: 50%;
  }

  .item-content-wraper {
      width: 50%;
  }
}

@media only screen and (max-width: 850px) {

  .container {
      padding: 0 15px;
  }

  .hero-slide-item {
      height: 100%;
      // max-height: 100%;
      max-width: 100%;
      padding-top: unset;
  }

  .item-content-wraper {
    width: 100%;
    height: 500PX;
    padding-bottom: 20px;
    margin-top: 5.5rem;
    padding-right: .5rem;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .hero-slide-item-content {
      position: relative;
  }

  .hero-slide-item img {
      height: 100%;
      object-fit: cover;
  }

  .item-content-title {
      font-size: 2rem;
  }

  // .item-content-description {
  //   display: none;
  // }
}

.error-container {
  margin: 20px 0;
}

.error-container h1 {
  font-size: 6rem;
  font-weight: 900;
}

.error-container h1 .bx {
  color: var(--main-color);
}

.error-container small {
  font-weight: 500;
  color: var(--main-color);
}

.error-container h5 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: .5rem 0;
}

@media only screen and (max-width: 600px) {

  .item-content-wraper {
    padding-left: 1.5rem;
  }
  .item-content-description {
    font-size: 1rem;
  }

  .error-container h1 {
    margin-top: 9rem;
  }

  .error-container h5 {
    font-size: 1.2rem;
  }
}
