<div class="container-fluid">
  <app-aside-bar></app-aside-bar>

  <!-- The Main Content -->
  <div class="main-content">
    <app-header></app-header>

    <!-- Main Body -->
    <main>
      <div class="page-header">
        <div class="">
          <h1>Good Morning Victor</h1>
          <small>Login On March 08th, 2023 08hr: 05min: 59sec</small>
        </div>

        <div class="">
          <button>
            <span><i class="bx-bx-file-export"></i></span>
            Export
          </button>
          <button>
            <span><i class="bx-bx-tools"></i></span>
            Settings
          </button>
        </div>
      </div>
    </main>
  </div>
</div>
