<aside>
  <div class="top">
    <div class="logo">
      <img src="../../../../assets/images/logo/net_logo.png" alt="logo">
      <h2 class="text-danger">ETFLIX</h2>
    </div>
    <div class="close" id="close-btn">
      <i class='bx bx-x'></i>
    </div>
  </div>
    <!-- Side-bar links  -->
    <div class="sidebar">
      <a href="#">
        <i class='bx bxs-dashboard'></i>
        <h5>Dashboard</h5>
      </a>
      <a href="#">
        <i class='bx bxs-user-plus' ></i>
        <h5>Members</h5>
        <span class="message-count">99+</span>
      </a>
      <a href="#">
        <i class='bx bxs-tv'></i>
        <h5>Movies</h5>
      </a>
      <a href="#">
        <i class='bx bx-line-chart'></i>
        <h5>Analyais</h5>
      </a>
      <a href="#">
        <i class='bx bxs-user-badge'></i>
        <h5>Subscribers</h5>
      </a>
      <a href="#">
        <i class='bx bxs-dashboard'></i>
        <h5>Settings</h5>
      </a>
      <a href="#">
        <i class='bx bxs-log-out-circle'></i>
        <h5>Logout</h5>
      </a>
    </div>
</aside>
