
.sidebars {
  width: 280px;
  position: fixed;
  // left: 0;
  top: 0;
  height: 100%;
  padding: 1rem 1.5rem;
  background: var(--bg-secondary-color);
  color: var(--text-color);
  z-index: 20;
  transition: left 300ms;
}

.sidebars.active {
  left: -100% !important;
}

.sidebars.deactive {
  left: 0 !important;
}

.sidebar-brand {
  height: 70px;
}

.brand-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-icons span i {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.sidebar-user {
  margin: 1rem 0rem 1rem 0rem;
  text-align: center;
}

.sidebar-user img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid var(--text-color);
}

.sidebar-user h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.sidebar-user span {
  font-size: .8rem;
}

.sidebar-menu {
  margin-top: 3rem;
}

.menu-head {
  text-transform: uppercase;
  color: var(--text-color);
  font-size: .75rem;
  font-weight: 500;
  margin-bottom: .8rem;
}

.sidebar-menu ul {
  margin-bottom: 1.5rem;
}

.sidebar-menu li {
  margin-bottom: .9rem;
}

.sidebar-menu li a {
  color: var(--text-color);
  font-size: .9rem;
  display: flex;
  align-items: center;
}

.sidebar-menu li a span i {
  font-size: 1.5rem;
  display: inline-block;
  margin-right: .8rem;
}

.mobile-toggle {
  display: none;
}

@media only screen and (max-width: 1124px) {
  .sidebars {
    overflow-y: scroll;
    // left: -100% !important;
    z-index: 30;
  }

  .sidebars.active {
    left: 0 !important;
  }

  .mobile-toggle {
    display: block;
  }

  .sidebars.deactive {
    left: -100% !important;
  }
}
