<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="footer-logo">
          <img src="../../../assets/images/logo/Netflix-Logo.png" width="180" height="100" alt="logo">
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <h5 class="footer-header">Pages</h5>
        <div class="pages-list ">
          <ul>
            <li>
              <a href="#">Home Page</a>
            </li>
            <li>
              <a href="#">Trending Series</a>
            </li>
            <li>
              <a href="#">Trending Movies</a>
            </li>
            <li>
              <a href="#">Search Page</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <h5 class="footer-header"> Policy</h5>
        <div class="pages-list">
          <ul>
            <li>
              <a href="#">Policy Page</a>
            </li>
            <li>
              <a href="#">Terms & Condition</a>
            </li>
            <li>
              <a href="#">Application Page</a>
            </li>
            <li>
              <a href="#">Ads & Posters</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <p class="subscibe-header">Join our <span>35,052,890</span> members to get the lastest and most trending movies at your fingertips</p>
        <div class="sbb-form">
          <form action="">
            <input type="email" name="" id="" class="form-control" placeholder="Enter Your Email Adderss" required>
          </form>
        </div>
      </div>
    </div>
    <!-- <hr> -->
    <div class="text-center footer-author mt-3">
      <ul>
        <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
        <li><a href="#"><i class='bx bxl-instagram' ></i></a></li>
        <li><a href="#"><i class='bx bxl-facebook-circle' ></i></a></li>
        <li><a href="#"><i class='bx bxl-github' ></i></a></li>
      </ul>
      <br>
      <h6 class="footer-auth">Designed & Imaplemented by <a href="#">Vickky Kruz</a> &copy; 2023</h6>
    </div>
  </div>
</footer>
