<footer class="footer-10">
	<div class="container">
		
		<div class="row">
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-6 mb-md-0 mb-4">
						<div class="text-center">
							<img src="../assets/images/logo/net_logo.png" alt="Logo" width="60" height="40" id="mobile-logo" class="d-inline-block align-text-top">
						</div>
						<span class="subheading">
						Enjoy an extensive collection of movies and series at your fingertips, 
						ready to stream anytime, anywhere, with just a click.</span>
					</div>
					<div class="col-md-3 mb-md-0 mb-4">
						<h2 class="footer-heading">Links</h2>
						<ul class="list-unstyled">
						  <li><a href="#" class="d-block">Home</a></li>
						  <li><a href="#" class="d-block">Movies</a></li>
						  <li><a href="#" class="d-block">Series</a></li>
						  <li><a href="#" class="d-block">My Lists</a></li>
						</ul>
					</div>
					
					<div class="col-md-3 mb-md-0 mb-4">
						<h2 class="footer-heading">Policy</h2>
						<ul class="list-unstyled">
						  <li><a href="#" class="d-block">Our services</a></li>
						  <li><a href="#" class="d-block">Private Policy</a></li>
						  <li><a href="#" class="d-block">Terms & Conditions</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			<div class="col-md-5 mb-md-0 mb-4">
				<h2 class="footer-heading">Subscribe</h2>
				<form action="#" class="subscribe-form">
				  <div class="form-group d-flex">
					<input type="text" class="form-control rounded-left" placeholder="Enter email address">
					<button type="submit" class="form-control submit rounded-right">Subscribe</button>
				  </div>
				  <span class="subheading">Get digital updates in your mailbox</span>
				</form>
			</div>
		</div>
		<div class="row mt-2 pt-2 border-top">
		  <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
			<p class="copyright mb-0">
			Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.</p>
		  </div>
		  <div class="col-md-6 col-lg-4 text-md-right">
			<ul class="ftco-footer-social p-0 d-flex justify-content-center align-items-center">
			  <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class=""><i class='bx bxl-twitter'></i></span></a></li>
			  <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class=""><i class='bx bxl-meta' ></i></span></a></li>
			  <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class=""><i class='bx bxl-instagram' ></i></span></a></li>
			  <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Telegram"><span class=""><i class='bx bxl-telegram' ></i></span></a></li>
			</ul>
		  </div>
		</div>
	</div>
</footer>