/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
// GOOGLE Fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

/* Import Base */
@import "@getbase/base/scss/_mixins";
@import "@getbase/base/scss/core";

/* Import Base Common */
@import "@getbase/base/scss/code";
@import "@getbase/base/scss/forms";
@import "@getbase/base/scss/tables";
@import "@getbase/base/scss/typography";
@import "@getbase/base/scss/headings";

/* Add Your Website / App Styles */
// @import "main";

// Add Additional Modules
@import "@getbase/base/scss/containers";
@import "@getbase/base/scss/grid";
@import "@getbase/base/scss/horizontal-spacers";
@import "@getbase/base/scss/vertical-spacers";
@import "@getbase/base/scss/spacers";
@import "@getbase/base/scss/typography-helpers";
@import "@getbase/base/scss/display-helpers";
@import "@getbase/base/scss/flex-helpers";
@import "@getbase/base/scss/position-helpers";

:root {
  --text-color: #f3f3f3f3;
  --bg-color: #0a0300;
  --main-color: #E50914;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--main-color);
}
